.name{
    font-size: 20px;
   /* background-color: rgb(23, 82, 101); */
}


.lightcoral{
   background-color: lightcoral;
}
.lightseagreen{
   background-color:lightseagreen;
}
.light{
   background-color:lightslategray;
}


